/* https://www.cssportal.com/style-input-range/ */

body {
    color: black;
    background-color: white;
    margin-left: 0;
    /* default was 5em*/
    margin-top: 5em;
    font-family: "Verdana", "Arial";
    /* vertical-align: middle; */
}
p {
    font-family: "Verdana";
}
.lindent { margin-left: 5em; }

.sending-results {
    font-weight: bold;
    font-size: medium;
}
div.bar-container {
    border: 1px solid;
    border-color: #9ea4b1;
    background-color: white;
}
div.bar {
    background-color: lightgrey;
}
p.progress-text {
    padding-top: 0.5em;
    margin-top: 0;
    margin-bottom: 2em;
    font-style: italic;
    font-size: 0.7em;
    font-family: "Verdana";
    color: grey;
}
p.practice-box {
    height: 0.5em;
    padding-bottom: 1em;
    font-size: small;
    text-align: center;
    color: lightgrey;
}
span.retry {
    color: blue;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
span.retry:hover {
    text-decoration: underline;
}
span.retry:visited {
    color: blue;
}

.slidecontainer {
    width: 150%;
}

input[type = 'range'] {
    -webkit-appearance: none;
    width: 200px; /* width of slider */
    height: 10px;
    border-radius: 10px;
    background: grey;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type = 'range']:hover {
    opacity: 1;
}

input[type = 'range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: darkslategrey;
    cursor: pointer;
    margin-top: -10px; /* appears to be the slider height */
}

input[type = 'range']::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: forestgreen;
    cursor: pointer;
}

/* copied from website */
input[type=range] {
    height: 34px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #50555C;
    background: #C5D2E3;
    border-radius: 14px;
    border: 0px solid #BABABA;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 28px;
    width: 40px;
    border-radius: 12px;
    background: #529DE1;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #C5D2E3;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #50555C;
    background: #C5D2E3;
    border-radius: 14px;
    border: 0px solid #BABABA;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 28px;
    width: 40px;
    border-radius: 12px;
    background: #529DE1;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #C5D2E3;
    border: 0px solid #BABABA;
    border-radius: 28px;
    box-shadow: 0px 0px 0px #50555C;
}
input[type=range]::-ms-fill-upper {
    background: #C5D2E3;
    border: 0px solid #BABABA;
    border-radius: 28px;
    box-shadow: 0px 0px 0px #50555C;
}
input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 28px;
    width: 40px;
    border-radius: 12px;
    background: #529DE1;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #C5D2E3;
}
input[type=range]:focus::-ms-fill-upper {
    background: #C5D2E3;
}