body {
    color: black;
    background-color: white;
    margin-left: 0;
    /* default was 5em*/
    margin-top: 5em;
    font-family: "Verdana", "Arial";
    /* vertical-align: middle; */
}
p {
    font-family: "Verdana";
}
.lindent { margin-left: 5em; }

.sending-results {
    font-weight: bold;
    font-size: medium;
}
div.bar-container {
    border: 1px solid;
    border-color: #9ea4b1;
    background-color: white;
}
div.bar {
    background-color: lightgrey;
}
p.progress-text {
    padding-top: 0.5em;
    margin-top: 0;
    margin-bottom: 2em;
    font-style: italic;
    font-size: 0.7em;
    font-family: "Verdana";
    color: grey;
}
p.practice-box {
    height: 0.5em;
    padding-bottom: 1em;
    font-size: small;
    text-align: center;
    color: lightgrey;
}
span.retry {
    color: blue;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
span.retry:hover {
    text-decoration: underline;
}
span.retry:visited {
    color: blue;
}

.slidecontainer {
    width: 80%;
}

.slider {
    -webkit-appearance: none;
    width: 200%; /* width of slider */
    height: 15px;
    border-radius: 5px;
    background: green;
    outline: grey;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: forestgreen;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
